@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.ref {
  text-decoration: none;
  color: dimgray;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkgray: #212329;
  --lightgray: #b1b1b1;
  --brightred: #F9423D;
  --white: #fff;
  --lightred: #f9433dcc;
  --lightblue: #3371F1;
  --trans: transparent;

}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

span {
  font-weight: bolder;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: #ffffff;
  /*background-color: var(--trans);*/
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/credentials.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.255rem;
  line-height: 1.6;
}

.close {
  /*margin-left: 50% !important;*/
  padding-left: 98% !important;
}

.services-section {
  background-color: var(--trans);
  padding-bottom: 8rem;
  color: white;
}

.services-heading {
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 6rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  background-color: var(--trans);
  margin: 0 !important;
  padding: 0 !important;
}

.services-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 275px;
  margin: 5px;
  position: relative;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.8);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
}

.services-cell-img {
  object-fit: cover;
  object-position: center;
  width: 100px;
}

.services-cell-text {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  transition: opacity 350ms;
  text-shadow: 2px 2px 2px var(--trans);
}

.services-cell::before, .services-cell::after, .services-cell-img {
  top: -50%;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.services-cell:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  z-index: 99;
  overflow: hidden;
}

.services-cell:before {
  content: '';
  position: absolute;
  opacity: 0.4;
  width: 350px;
  height: 70px;
  background: var(--white);
  top: 50px;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 1.5s;
}

.services-cell:hover:before {
  transform: translate(-200px, 300%) rotate(45deg);
  transition: transform 0.5s;
}

@media screen and (min-width: 540px) and (max-width: 810px) {
  .services-cell:nth-child(3) {
    top: -67.5px;
  }
}

@media screen and (max-width: 280px) {
  .services-section {
    position: relative;
    left: 70px !important;
  }
  .loading {
    position: relative;
    top: 100px;
    left: -7%;
  }
  #boxes {
    position: relative;
    top: 100px;
    left: 35%;
  }
  .circle {
    display: none;
  }
}

@media screen and (max-width: 320px) and (min-width: 281px) {
  .services-section {
    position: relative;
    left: 50px;
  }
  .boxes {
    position: relative !important;
    top: 100px;
    right: 50px;
  }
  #loading {
    position: relative !important;
    top: 70px;
    left: 20px;
  }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
  .services-section {
    position: relative;
    left: 30px;
  }
  .boxes {
    position: relative !important;
    top: 100px;
    right: 50px;
  }
  #loading {
    position: relative !important;
    top: 70px;
    left: 20px;
  }
}

@media screen and (max-width: 414px) and (min-width: 376px) {
  .services-section {
    position: relative;
    left: 10px;
  }

  .circle {
    display: none;
  }

  .boxes {
    position: relative !important;
    top: 100px;
    right: 50px;
  }

  #loading {
    position: relative !important;
    top: 70px;
    left: -30px;
  }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
  .services-section {
    position: relative;
    margin-left: 30px;
  }
  .boxes {
    position: relative !important;
    top: 100px;
    right: 50px;
  }
  #loading {
    position: relative !important;
    top: 70px;
    left: 20px;
  }
}

@media screen and (max-width: 540px) and (min-width: 415px) {
  .services-section {
    position: relative;
    left: 80px;
  }

  #boxes {
    position: relative;
    top: 100px;
    left: 35%;
  }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  .boxes {
    position: relative !important;
    top: 100px;
    right: 50px;
  }
  #loading {
    position: relative !important;
    top: -50px;
    left: -50px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .boxes {
    position: relative !important;
    top: 200px;
    margin-left: -200px;

  }
  #loading {
    position: relative !important;
    top: -150px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px;
  margin-bottom: 20px;
}

.cen {
  text-align: center;
}

.theImg {
  width: 200px !important;
  height: 200px !important;
}

.stuff {
  font-size: 15px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-loading {
  background-color: transparent;
  position: relative;
  width: auto;
}

.boxes {
  position: absolute;
  left: 30%;
  margin-top: 15%;
  font-family: Roboto, Arial, serif;
  color: #ADAFB6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: box1 1s linear infinite;
  animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: box2 1s linear infinite;
  animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: box3 1s linear infinite;
  animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: box4 1s linear infinite;
  animation: box4 1s linear infinite;
}

.boxes .box > div {
  background: #5C8DF6;
  --translateZ: 16px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  top: 0;
  left: 0;
  background: #5C8DF6;
}
.boxes .box > div:nth-child(2) {
  background: #145af2;
  right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  background: #DBE3F4;
  top: 0;
  left: 0;
  --translateZ: -90px;
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0%{
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0%{
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

#loading {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.loading {
  color: #5C8DF6;
  font-size: 5rem;
  /*text-transform: uppercase;*/
  font-family: 'Nerko One', cursive;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
}

.circle {
  position: relative;
  margin-top: 20%;
  background-color: #5C8DF6;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 2rem;
  animation-name: jump;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.circle:nth-child(3) {
  animation-delay: 0.3s;
}

.circle:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes jump {
  0% {
    top: 0;
    background-color: #5C8DF6;
  }

  25% {
    top: -6rem;
    background-color: #10c8b9;
  }

  50% {
    top: 0;
    background-color: #00caca;
  }

  75% {
    top: -6rem;
    background-color: #53c9fc;
  }

  100% {
    top: 0;
    background-color: #2a83f5;
  }
}

.modal-box {
  display: flex !important;
}

.logo {
  width: 500px;
  height: auto;
}

.column {
  display: block;
}


.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  /*border-left-width: 545px;*/
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.height {
  margin-bottom: 25px;
}

#thisWillBeHidden {
  display: none;
}
