*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark:#303030;
  --clr-accent: #539bf1;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.125);

}

html {
  scroll-behavior: smooth;
}

#about {
  /*background-image: url("https://cdn.shopify.com/s/files/1/0603/7977/products/TheRoadLessTraveled_3ee79ed9-e476-4d96-802a-ce9160c8ef2d_600x.png?v=1559423537");*/
  /*background-position: center;*/
  /*!*background-attachment: fixed;*!*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
}

body {
  background: var(--clr-light);
  /*background-image: url(../img/bg2.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold); }

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

a.btn {
  color: var(--clr-dark) !important;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn:hover {
  transform: scale(1.1);
}

h1, h2, h3 {
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  margin-bottom: .25em;
}

.section__title__intro {
  font-weight: var(--fw-reg);
  margin-bottom: 0.25em;
  margin-top: 0.8em;
}

.section__title__intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  border: 1px solid #404040;
}

.intro__img {
  width: 100%;
}

.section__subtitle__intro,
.section__subtitle__about {
  background: var(--clr-accent);
  padding: .25em 0.5em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

nav {
  position: fixed;
}

.nav-item, .navbar-brand {
  margin: 0 1em;
}

.dumb-fix-pc {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.dumb-fix-tablet {
  display: none;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 990px) {
  .dumb-fix-tablet {
    display: block
  }
  .dumb-fix-pc {
    display: none
  }
}


.intro {
  position: relative;
  height: 150vw;
}

@media (min-width: 800px) and (max-width: 900px)  {
  .intro {
    position: relative;
    height: 70vw !important;
  }
}

@media (max-width: 600px)  {
  .intro {
    position: relative;
    height: 180vw !important;
  }
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.255rem;
  }
}

@media (min-width: 800px) {
  .intro {
    display: grid;
    width: min-content;
    height: 55vw;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
    "img title"
    "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .parallax 
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)   0%, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/2641052.gif);
    width: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: 'Permanent Marker'; */
    /* letter-spacing: 0.3em;
    font-size: 1.5em;
    text-align: center; */
}

  .section__title__intro {
    padding-top: 10vw;
  }

  .intro__img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    z-index: 2;
    margin-top: 10vw;
    box-shadow: var(--bs);
    border-radius: 5%;
    border: 1px solid #bfbfbf;
  }
  .section__subtitle__intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5rem;
    width: calc(100% + 1.5em);
    font-size: 0.75em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 100%;
  }
}

.myInterests {
  background-color: var(--clr-dark);
  background-image: url(../img/bg1.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title__interests {
  color: var(--clr-accent);
  position: relative;
}

.section__title__interests::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.interests {
  margin-bottom: 4em;
}

.interest {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .interests {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .interest + .interest {
    margin-left: 2em;
  }
}

h3.caption {
  padding-top: 0.5em;
}

p.caption {
  padding-bottom: 1em;
}

.aboutMe {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutMe__body {
  padding-top: 1em;
  font-size: 20px;
}

@media (min-width: 800px) {

  .aboutMe__body {
    padding-top: 0em;
  }

  .section__title__about {
    grid-area: title;
  }

  .section__subtitle__about {
    position: relative;
    left: -1em;
    margin-left: 10px;
    margin-right: 50px !important;
    width: calc(100% + 1.25em);
    font-size: 30px;
  }

  .aboutMe__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    max-width: 265px;
    right: 35px;
  }
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer p {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer__link {
  font-weight: var(--fw-bold);
}


.footer__link:hover,
.social_list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social__list__item {
  margin: 0 0.5em;
}

.social_list__link {
  padding: 0.5em;
}

.mySkills {
  color: var(--clr-dark);
  text-align: center;
}

#skills {
  margin-top: 0em;
}

.portfolio__img {
  transition:
    transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: 0.1;
}

div.text {
  color: white;
}

.mySkills {
  background-image: url(../img/wallpaper.jpg);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.curve {
  border-radius: 20px;
  border: 1px solid white;
  margin-bottom: 10px;
}
